main {
  width: 100vw;
  overflow: scroll;
}
th,td {
  min-width: 5vw;
  text-align: center;
  cursor: pointer;
}
td:hover {
  background-color: #908e8e;
  color:white;
}
@media (max-width: 599px) {
nav {
  display:none;
}
th,td {
  min-width: 13vw;
}
}